{% extends "base.html" %}
{% load crispy_forms_tags static %}
{% block html_title %}Book better form{% endblock %}
{% block page_title %}Book better form{% endblock %}

{% block content %}
<form method='POST'>
    {% csrf_token %}
    <div class="card w-full bg-base-100 shadow-xl card-bordered card-compact border border-gray-900">
        <div class="card-body">
            <h2 class="card-title">Book</h2>
            {{ form|crispy }}
        </div>
    </div>

    {% include "partials/_inline_set.html" with inline_name='edition_set' inline_title="Editions" formset=inlines.0 %}
    {% include "partials/_inline_set.html" with inline_name='testimonial_set' inline_title="Testimonials"
    formset=inlines.1 %}

    <input type='submit' class='btn bg-blue-600' value='Save'>
    <a href='/' class='btn bg-gray-600'>Back</a>
</form>


<script src="{% static 'inline-editor.js' %}"></script>

{% endblock %}